@{
    ViewData["Title"] = "All user's words";
}
@model IEnumerable<WordModel>



<div class="container">
    <h3 class="display-4"> All user's word</h3>
    <div class="row">
@*
        @foreach (var word in Vocabulary)
        {
            <div class="col-md-4">
                <partial name="_wordThumbnail" model="@word" />

            </div>
        }*@


    </div>
</div>