@model IEnumerable<AllMusicViewModel>
<div class="row">
    @foreach (var music in Model)
    {
        <div class="col-md-4">
            <partial name="_musicThumbnail" model="music" />
        </div>
    }

</div>

