@{
    ViewData["Title"] = "All cources";
}
@model IEnumerable<MusicModel>



<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
        <div class="card">
            <img src="/images/Pre.jpg" class="card-img-top" alt="pre">
            <div class="card-body">
                <h5 class="card-title">Pre-Intermediate</h5>
                <p class="card-text">
                    Understand the general meaning of the interlocutor's statements, you can maintain a
                    simple dialogue and ask questions, but speak in short fragmentary sentences;
                    you know basic grammar quite well, but it is difficult for you to use it in spontaneous speech?
                    Then this course is for you
                </p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="/images/inter.jpg" class="card-img-top" alt="inter">
            <div class="card-body">
                <h5 class="card-title">Intermediate</h5>
                <p class="card-text">
                    Intermediate is the so-called "intermediate" level of
                    language proficiency, which allows you to speak
                    English fluently enough, to discuss many professional and everyday topics,
                    to understand by ear almost everything said at a normal pace
                </p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="/images/upper.jpg" class="card-img-top" alt="upper">
            <div class="card-body">
                <h5 class="card-title">Upper-Intermediate</h5>
                <p class="card-text">The Upper-Intermediate level is a serious level of knowledge,
                sufficient to communicate in English in almost all areas. People studying English
                at the Upper-Intermediate level can start preparing for the international TOEFL or IELTS exams.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="/images/advance.jpg" class="card-img-top" alt="advance">
            <div class="card-body">
                <h5 class="card-title">Advanced</h5>
                <p class="card-text">The Advanced English Course Level is focused on developing your fluency and accuracy abilities,
                and to helping you reach a level of competence that will allow you to interact with a variety of more challenging,
                sophisticated current topics.</p>
            </div>
        </div>
    </div>
</div>