@{
    ViewData["Title"] = "Home Page";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to eLearnEnglish</h1>

        <p class="lead text-muted">

            Some text here.
            And here/
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>

    </div>
</section>


<div class="py-5 bg-light">
    <div class="container">
        <h1>Popular music</h1>
        @await Component.InvokeAsync("DownMusic", new { difficulty = "", count = 3 })

        @*<vc:top-books count="3"></vc:top-books>*@

    </div>
</div>


<div class="py-5 bg-light">

    <div class="container">
        <h1>Popular video</h1>
        @await Component.InvokeAsync("DownVideo", new { difficulty = "2", count = 3 })
        @*<vc:top-books count="3"></vc:top-books>*@

    </div>
</div>


